 {% for state in states.values()|sort(attribute="name") %}
              <LI><h2><STRONG>{{ state.name }}</STRONG></h2>
                <UL>
                {% for city in state.cities|sort(attribute="name") %}
                  <LI><h4>{{ city.name }}</h4></LI>
                {% endfor %}
                </UL>
              </LI>
  {% endfor %}

  <ul class="popover">
    <li><h2>Arizona</h2>
      <ul>
        <li><h4>Page</h4></li>
        <li><h4>Page2</h4></li>
      </ul></li>
    <li><h2>California</h2>
      <ul>
        <li><h4>San Francisco</h4></li>
        <li><h4>Los Altos</h4></li>
      </ul></li>
  </ul>